<template>
	<v-container>
		<v-layout column>
			<div
				class="headline font-weight-medium"
				v-text="'Administradores de la consola'"
			/>

			<v-row
				class="my-3"
			>
				<v-col
					xl="6"
					lg="6"
					md="12"
					sm="12"
				>
					<v-layout style="max-width: 550px;">
						<v-text-field
							placeholder="Buscar"
							dense
							filled
							rounded
							:prepend-inner-icon="mdiMagnify"
							hide-details
						></v-text-field>

						<BaseButton
							class="text-uppercase ml-2"
							:text="'Buscar'"
							:color="'grey lighten-2'"
						/>

						<v-menu
							v-model="filter.toggle"
							:close-on-content-click="false"
							:nudge-width="200"
							nudge-bottom="10px"
							offset-y
							max-width="350"
						>
							<template v-slot:activator="{ on }">
								<BaseButton
									class="ml-2"
									v-on="on"
									@click="filter.toggle = true"
								>
									<template v-slot:content>
										<v-icon
											large
											v-text="mdiFilterOutline"
										/>
									</template>
								</BaseButton>
							</template>

							<v-card>
								<v-card-text>
									<div class="subtitle-1 font-weight-medium d-flex justify-space-between mb-0">
										<span
											class="black--text"
											v-text="'Filtros de búsqueda'"
										/>

										<v-icon
											v-text="mdiClose"
											@click="filter.toggle = false"
										/>
									</div>

									<v-divider class="my-4"/>

									<v-row>
										<v-col cols="12">
											<v-select
												label="Área"
												v-model="filter.area"
												outlined
												hide-details
												:items="[{ id: 1, name: 'Recursos Humanos', }]"
												item-value="id"
												item-text="name"
											/>
										</v-col>

										<v-col cols="12">
											<v-select
												label="Estatus"
												v-model="filter.area"
												outlined
												hide-details
												:items="[{ id: 1, name: 'Activo', }, { id: 2, name: 'Inactivo', }]"
												item-value="id"
												item-text="name"
											/>
										</v-col>
									</v-row>

									<v-divider class="my-4"/>

									<v-row>
										<v-col cols="auto">
											<BaseButton
												:color="'grey lighten-3'"
												:text="'Limpiar'"
											/>
										</v-col>

										<v-col cols="auto">
											<BaseButton
												:text="'Aplicar filtros'"
											/>
										</v-col>
									</v-row>
								</v-card-text>
							</v-card>
						</v-menu>
					</v-layout>
				</v-col>

				<v-col
					xl="6"
					lg="6"
					md="12"
					sm="12"
				>
					<v-layout justify-end>
						<BaseButton
							class="black--text"
							:text="'Descargar'"
							isOutlined
						/>

						<BaseButton
							class="ml-2"
							:text="'Agregar nuevo admin'"
							@click="$router.push({ name: 'CreateAdmins', })"
						/>
					</v-layout>
				</v-col>
			</v-row>

			<v-data-table
				v-model="table.selected"
				:headers="table.headers"
				:items="table.items"
				show-select
				:footer-props="table.footer_props"
			>
				<template #[`item.administradores`]="{ item }">
					<v-layout>
						<v-avatar
							class="mr-2"
							size="30"
							color="grey"
						>
							<v-img
								:src="require(`@/assets/img/administradores/${item.id}.png`)"
								size="30"
								contain
							/>
						</v-avatar>

						<div
							class="align-self-center font-weight-medium"
							v-text="`${item.nombres} ${item.apellidos}`"
						/>
					</v-layout>
				</template>

				<template #[`item.estatus`]="{ item }">
					<span
						class="px-1 py-1 caption text-uppercase rounded-sm"
						:class="item.estatus ?
							'green lighten-4 green--text text--darken-4' :
							'red lighten-4 red--text text--darken-4'
						"
						v-text="item.estatus ? 'Activo' : 'Inactivo'"
					/>
				</template>

				<template #[`item.detalles`]="{ item }">
					<td width="auto">
						<v-layout class="detalles">
							<BaseButton
								isText
								:minWidth="'30px'"
								class="px-2 ma-1"
								@click="$router.push({ name: 'EditAdmins', params: { id: item.id, }, })"
							>
								<template v-slot:content>
									<v-icon v-text="mdiPencilBoxOutline"/>
								</template>
							</BaseButton>

							<BaseButton
								isText
								color="red"
								:minWidth="'30px'"
								class="px-2 ma-1"
								@click="dialog_delete_admin.toggle = true"
							>
								<template v-slot:content>
									<v-icon v-text="mdiTrashCanOutline"/>
								</template>
							</BaseButton>

							<BaseButton
								isText
								color="secondary"
								:minWidth="'30px'"
								class="px-2 ma-1"
								@click="$router.push({ name: 'ReadAdmins', params: { id: item.id } })"
							>
								<template v-slot:content>
									<v-icon v-text="mdiEyeOutline"/>
								</template>
							</BaseButton>
						</v-layout>
					</td>
				</template>
			</v-data-table>
		</v-layout>

		<v-dialog
			v-model="dialog_delete_admin.toggle"
			persistent
			max-width="400px"
			transition="dialog-transition"
		>
			<v-card>
				<v-card-text class="pa-4">
					<div
						class="primary--text font-weight-medium"
						v-text="'Eliminar administrador'"
					/>

					<v-divider class="mt-2 mb-4"/>

					<div
						class="body"
						v-text="'¿Estás seguro de eliminar a este administrador?'"
					/>

					<v-layout class="my-4">
						<v-avatar
							class="mr-2"
							size="45"
							color="grey"
						>
							<v-img
								:src="require(`@/assets/img/administradores/1.png`)"
								size="45"
								contain
							/>
						</v-avatar>

						<v-layout column>
							<div
								class="font-weight-medium"
								v-text="'Gustavo Korsgaard'"
							/>

							<div
								v-text="'correo@gmail.com'"
							/>
						</v-layout>
					</v-layout>

					<v-row
						class="mt-5"
						justify="center"
					>
						<v-col cols="auto">
							<BaseButton
								isOutlined
								:text="'Cancelar'"
								@click="dialog_delete_admin.toggle = false"
							/>
						</v-col>

						<v-col cols="auto">
							<BaseButton
								:text="'Sí, eliminar'"
							/>
						</v-col>
					</v-row>
				</v-card-text>
			</v-card>
		</v-dialog>
	</v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import {
	mdiMagnify,
	mdiFilterOutline,
	mdiPencilBoxOutline,
	mdiTrashCanOutline,
	mdiEyeOutline,
	mdiChevronRight,
	mdiChevronLeft,
	mdiCheckboxBlankOutline,
	mdiCheckboxMarked,
	mdiClose,
} from '@mdi/js';
import BaseButton from '@/components/BaseButton/Index.vue';

export default Vue.extend({
	name: 'Admins',

	components: {
		BaseButton,
	},

	data() {
		return {
			mdiMagnify,
			mdiFilterOutline,
			mdiPencilBoxOutline,
			mdiTrashCanOutline,
			mdiEyeOutline,
			mdiChevronRight,
			mdiChevronLeft,
			mdiCheckboxBlankOutline,
			mdiCheckboxMarked,
			mdiClose,

			filter: {
				toggle: false,
				area: 1,
				estatus: 0,
			},

			table: {
				headers: [
					{
						text: 'Administradores',
						align: 'start',
						sortable: true,
						value: 'administradores',
					},
					{
						text: 'Área',
						align: 'start',
						sortable: true,
						value: 'area',
					},
					{
						text: 'Correo electrónico',
						align: 'start',
						sortable: true,
						value: 'correo_electronico',
					},
					{
						text: 'Estatus',
						align: 'start',
						sortable: true,
						value: 'estatus',
					},
					{
						text: 'Detalles',
						align: 'start',
						sortable: true,
						value: 'detalles',
						width: '1%',
					},
				],
				items: [
					{
						id: 1,
						nombres: 'Gustavo',
						apellidos: 'Korsgaard',
						correo_electronico: 'correo@gmail.com',
						area: 'Recursos Humanos',
						estatus: 1,
					},
					{
						id: 2,
						nombres: 'Maria',
						apellidos: 'Dias',
						correo_electronico: 'correo@gmail.com',
						area: 'Recursos Humanos',
						estatus: 1,
					},
					{
						id: 3,
						nombres: 'Maren',
						apellidos: 'Stanton',
						correo_electronico: 'correo@gmail.com',
						area: 'Recursos Humanos',
						estatus: 0,
					},
					{
						id: 4,
						nombres: 'Paityn',
						apellidos: 'Ekstrom',
						correo_electronico: 'correo@gmail.com',
						area: 'Recursos Humanos',
						estatus: 1,
					},
					{
						id: 5,
						nombres: 'Kierra',
						apellidos: 'Bergson',
						correo_electronico: 'correo@gmail.com',
						area: 'Recursos Humanos',
						estatus: 1,
					},
					{
						id: 6,
						nombres: 'Talan',
						apellidos: 'Rosser',
						correo_electronico: 'correo@gmail.com',
						area: 'Recursos Humanos',
						estatus: 1,
					},
				],
				selected: [],
				footer_props: {
					'next-icon': mdiChevronRight,
					'prev-icon': mdiChevronLeft,
				},
			},

			dialog_delete_admin: {
				toggle: false,
			},
		};
	},
});
</script>

<style lang="scss">
</style>
