<template>
	<v-container>
		<v-layout column>
			<div
				class="headline font-weight-medium"
				v-text="'Perfil de administrador'"
			/>

			<div class="my-5">
				<v-avatar
					class="mb-2"
					size="50"
					color="grey"
				>
					<v-img
						:src="require(`@/assets/img/administradores/1.png`)"
						size="50"
						contain
					/>
				</v-avatar>

				<div
					class="font-weight-medium"
					v-text="'Cheyene Korgsaard'"
				/>
			</div>

			<v-row>
				<v-col xl="3" lg="3" md="4" sm="4" cols="12">
					<div class="grey--text" v-text="'NOMBRES (S)'"/>
					<div v-text="'Cheyene Korgsaard'"/>
				</v-col>
				<v-col xl="3" lg="3" md="4" sm="4" cols="12">
					<div class="grey--text" v-text="'APELLIDOS'"/>
					<div v-text="'Korgsaard'"/>
				</v-col>
				<v-col xl="3" lg="3" md="4" sm="4" cols="12">
					<div class="grey--text" v-text="'CORREO ELECTRÓNICO'"/>
					<div v-text="'correo@gmail.com'"/>
				</v-col>
			</v-row>

			<v-row>
				<v-col xl="3" lg="3" md="4" sm="4" cols="12">
					<div class="grey--text" v-text="'ÁREA'"/>
					<div v-text="'Recursos Humanos'"/>
				</v-col>
				<v-col xl="3" lg="3" md="4" sm="4" cols="12">
					<div class="grey--text" v-text="'ESTATUS'"/>
					<div v-text="'Activo'"/>
				</v-col>
			</v-row>

			<v-divider class="my-4"/>

			<div>
				<BaseButton
					:text="'Editar administrador'"
					@click="$router.push({ name: 'EditAdmins', params: { id: 1, }, })"
				/>
			</div>
		</v-layout>
	</v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import BaseButton from '@/components/BaseButton/Index.vue';

export default Vue.extend({
	name: 'Filter',

	components: {
		BaseButton,
	},

	data() {
		return {};
	},
});
</script>

<style lang="scss">
</style>
