<template>
	<v-app-bar
		app
		color="primary"
		elevation="0"
	>
		<div
			class="d-flex align-center justify-end"
			style="flex: 1 1 auto;"
		>
			<v-btn
				class="px-1 mr-2"
				color="primary"
				depressed
				x-large
				min-width="50px"
				@click="$emit('toggleDrawer')"
			>
				<v-icon
					v-text="mdiMenu"
				/>
			</v-btn>

			<v-text-field
				v-if="search_active"
				hide-details
				flat
				solo
				placeholder="Buscar..."
			>
				<template v-slot:append>
					<v-btn
						class="px-2"
						color="primary"
						text
						depressed
						min-width="20px"
						@click="search_active = false"
					>
						<v-icon v-text="mdiClose"/>
					</v-btn>
				</template>
			</v-text-field>

			<v-layout
				v-else
				justify-end
			>
				<v-btn
					class="px-1"
					color="primary"
					depressed
					x-large
					min-width="50px"
					@click="search_active = true"
				>
					<v-icon
						v-text="mdiMagnify"
					/>
				</v-btn>
			</v-layout>

			<v-divider
				class="mx-2"
				color="white"
				vertical
			/>

			<v-btn
				class="text-none caption text-left mr-1 px-3"
				x-large
				color="primary"
				depressed
				:min-width="$vuetify.breakpoint.width >= 600 ? '' : '60px'"
			>
				<v-layout>
					<div class="align-self-center">
						<v-avatar
							:class="$vuetify.breakpoint.width >= 600 ? 'mr-2' : ''"
							size="35"
							color="white"
						>
							<img
								contain
								src="https://cdn.vuetifyjs.com/images/profiles/marcus.jpg"
							>
						</v-avatar>
					</div>

					<div v-if="$vuetify.breakpoint.width >= 600">
						<div v-text="'Adrian Stefan'"/>
						<div v-text="'Recursos Humanos'"/>
					</div>
				</v-layout>
			</v-btn>

			<v-btn
				class="px-1"
				color="primary"
				depressed
				x-large
				min-width="50px"
			>
				<v-icon
					v-text="mdiPower"
				/>
			</v-btn>
		</div>
	</v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';
import {
	mdiPower,
	mdiMagnify,
	mdiClose,
	mdiMenu,
} from '@mdi/js';

export default Vue.extend({
	name: 'AppBar',

	data() {
		return {
			mdiPower,
			mdiMagnify,
			mdiClose,
			mdiMenu,

			search_active: false,
		};
	},
});
</script>

<style lang="scss">
</style>
