<template>
	<v-container>
		<v-layout
			column
		>
			<div
				class="headline font-weight-medium"
				v-text="'Administradores de consola'"
			/>

			<div class="my-5">
				<v-avatar
					size="60"
					color="success"
				>
					<v-icon
						size="40"
						color="white"
						v-text="mdiCheck"
					/>
				</v-avatar>
				<div
					class="body font-weight-medium"
					v-text="'Cambios guardados.'"
				/>

				<div
					class="caption"
					v-text="'Tu administrador se ha guardado con éxito.'"
				/>
			</div>

			<div>
				<BaseButton
					:text="'Regresar a mis administradores'"
				/>
			</div>
		</v-layout>
	</v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { mdiCheck } from '@mdi/js';
import BaseButton from '@/components/BaseButton/Index.vue';

export default Vue.extend({
	name: 'Success',

	components: {
		BaseButton,
	},

	data() {
		return {
			mdiCheck,
		};
	},
});
</script>

<style lang="scss">
</style>
