<template>
	<v-container>
		<v-layout
			style="max-width: 400px;"
			column
		>
			<div
				class="headline font-weight-medium"
				v-text="'Agregar administrador'"
			/>

			<v-row class="my-5">
				<v-col cols="12">
					<div
						class="mb-3"
						v-text="'Sube tu fotografía con un peso menor a 2MB'"
					/>

					<v-card
						outlined
						width="250px"
					>
						<v-card-text
							class="text-center"
						>
							<div
								class="caption mb-2"
								v-text="'Arrastra tu archivo o'"
							/>

							<BaseButton
								isOutlined
								:text="'Selecciona'"
							/>
						</v-card-text>
					</v-card>
				</v-col>

				<v-col cols="12">
					<v-text-field
						label="Nombre (s)"
						outlined
						hide-details
						placeholder="Nombre (s)"
					/>
				</v-col>

				<v-col cols="12">
					<v-text-field
						label="Apellidos"
						outlined
						hide-details
						placeholder="Apellidos"
					/>
				</v-col>

				<v-col cols="12">
					<v-text-field
						label="Correo electrónico"
						outlined
						hide-details
						placeholder="Correo electrónico"
					/>
				</v-col>

				<v-col cols="12">
					<v-select
						label="Área"
						outlined
						hide-details
						:items="[{ id: 1, name: 'Activo', }, { id: 2, name: 'Inactivo', }]"
						item-value="id"
						item-text="name"
					/>
				</v-col>

				<v-col cols="12">
					<v-select
						label="Estatus"
						outlined
						hide-details
						:items="[{ id: 1, name: 'Activo', }, { id: 2, name: 'Inactivo', }]"
						item-value="id"
						item-text="name"
					/>
				</v-col>
			</v-row>
		</v-layout>

		<v-divider class="mb-4"/>

		<v-row>
			<v-col cols="auto">
				<BaseButton
					isOutlined
					:text="'Cancelar'"
					@click="$router.push({ name: 'Admins', })"
				/>
			</v-col>

			<v-col cols="auto">
				<BaseButton
					:text="'Agregar administrador'"
				/>
			</v-col>
		</v-row>
	</v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import BaseButton from '@/components/BaseButton/Index.vue';

export default Vue.extend({
	name: 'Filter',

	components: {
		BaseButton,
	},

	data() {
		return {};
	},
});
</script>

<style lang="scss">
</style>
