<template>
	<v-app>
		<BaseAppBar @toggleDrawer="$refs.navigation_drawer.drawer = !$refs.navigation_drawer.drawer"/>

		<BaseNavigationDrawer ref="navigation_drawer"/>

		<v-main>
			<v-layout column>
				<v-container class="pb-0">
					<v-breadcrumbs
						class="pl-0 pb-0"
						:items="route"
					>
						<template v-slot:divider>
							<v-icon
								v-text="mdiChevronRight"
							/>
						</template>

						<template v-slot:item="{ item }">
							<v-breadcrumbs-item
								:href="item.href"
								:disabled="item.disabled"
								color="primary"
								:to="item.to"
								v-text="item.text"
							/>
						</template>
					</v-breadcrumbs>
				</v-container>

				<router-view/>
			</v-layout>
		</v-main>
	</v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import BaseAppBar from '@/components/BaseAppBar/Index.vue';
import BaseNavigationDrawer from '@/components/BaseNavigationDrawer/Index.vue';
import { mdiChevronRight } from '@mdi/js';

export default Vue.extend({
	name: 'Modules',

	components: {
		BaseAppBar,
		BaseNavigationDrawer,
	},

	data() {
		return {
			mdiChevronRight,

			route: [
				{
					text: 'Inicio',
					disabled: true,
					to: {
						name: 'Home',
					},
				},
				{
					text: 'Administradores',
					disabled: false,
					to: {
						name: 'Admins',
					},
				},
			],
		};
	},
});
</script>

<style lang="scss">
</style>
