<template>
	<v-navigation-drawer
		v-model="drawer"
		app
		width="300"
	>
		<div
			class="d-flex flex-column"
			style="flex: 1 1 auto; height: 100%;"
		>
			<div class="px-4 pt-4 pb-2">
				<v-img
					:src="require(`@/assets/logo.svg`)"
					height="70"
					contain
				/>
			</div>

			<v-layout class="overflow-y-auto">
				<v-list width="100%">
					<v-list-item-group>
						<template v-for="(module, index) of modules">
							<v-list-item
								:key="`${module.id}_item`"
								:to="{ name: module.to }"
							>
								<v-list-item-icon
									class="ml-5 mr-3"
								>
									<v-icon
										color="primary"
										v-text="module.icon"
									/>
								</v-list-item-icon>

								<v-list-item-content>
									<v-list-item-title
										class="font-weight-regular"
										v-text="module.name"
									/>
								</v-list-item-content>

								<v-list-item-action v-if="module.alerts_amount">
									<span
										class="py-1 px-2 rounded green lighten-4 green--text text--darken-3 caption"
										v-text="module.alerts_amount"
									/>
								</v-list-item-action>
							</v-list-item>

							<v-divider
								v-if="index < modules.length - 1"
								:key="`${module.id}_divider`"
							></v-divider>
						</template>
					</v-list-item-group>
				</v-list>
			</v-layout>

			<div class="px-5 py-3">
				<div class="rounded grey lighten-3 pa-3">
					<v-layout justify-space-between>
						<v-layout column>
							<div v-text="'¿Necesitas ayuda?'"/>

							<div
								class="caption text-decoration-underline"
								v-text="'Ir a la sección de ayuda'"
							/>
						</v-layout>

						<v-layout align-center justify-end>
							<v-icon v-text="mdiOpenInNew"/>
						</v-layout>
					</v-layout>
				</div>

				<v-divider class="my-2"/>

				<div
					class="text-center"
					v-text="'© Copyright GLI 2021'"
				/>
			</div>
		</div>
	</v-navigation-drawer>
</template>

<script lang="ts">
import Vue from 'vue';
import {
	mdiChevronDown,
	mdiAccountOutline,
	mdiViewList,
	mdiAccountGroupOutline,
	mdiShoppingOutline,
	mdiFoodAppleOutline,
	mdiCalendarMonthOutline,
	mdiAlertOutline,
	mdiChartTimelineVariant,
	mdiOpenInNew,
} from '@mdi/js';

export default Vue.extend({
	name: 'BaseNavigationDrawer',

	data() {
		return {
			drawer: true,
			mdiChevronDown,
			mdiOpenInNew,

			modules: [
				{
					id: 1,
					name: 'Administradores',
					to: 'Admins',
					icon: mdiAccountOutline,
				},
				{
					id: 2,
					name: 'Catálogos',
					to: 'Catalogs',
					icon: mdiViewList,
				},
				{
					id: 3,
					name: 'Líderes',
					to: 'Leaders',
					icon: mdiAccountGroupOutline,
				},
				{
					id: 4,
					name: 'Usuarios',
					to: 'Users',
					icon: mdiShoppingOutline,
				},
				{
					id: 5,
					name: 'Mi empresa',
					to: 'MyBusiness',
					icon: mdiAccountGroupOutline,
				},
				{
					id: 6,
					name: 'Cursos',
					to: 'Courses',
					icon: mdiFoodAppleOutline,
				},
				{
					id: 7,
					name: 'Recompensas',
					to: 'Rewards',
					icon: mdiShoppingOutline,
				},
				{
					id: 8,
					name: 'Eventos',
					to: 'Events',
					icon: mdiCalendarMonthOutline,
				},
				{
					id: 9,
					name: 'Notificaciones',
					to: 'Notifications',
					icon: mdiAlertOutline,
					alerts_amount: 2,
				},
				{
					id: 10,
					name: 'Reportes',
					to: 'Reports',
					icon: mdiChartTimelineVariant,
				},
			],
		};
	},
});
</script>

<style lang="scss">
</style>
