<template>
	<v-btn
		class="text-none font-weight-regular"
		:color="color || 'primary'"
		:text="isText"
		:x-large="is_x_large"
		:large="is_large"
		:x-small="is_x_small"
		:small="is_small"
		:block="isBlock"
		:loading="isLoading"
		:disabled="isDisabled"
		:outlined="isOutlined"
		@click="$emit('click')"
		:depressed="isDepressed"
		:min-width="minWidth"
	>
		<span
			v-if="text"
			v-text="text"
		/>

		<slot
			v-if="$slots.content"
			name="content"
		/>
	</v-btn>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
	name: 'BaseButton',

	props: {
		color: {
			type: String,
			default() {
				return '';
			},
		},

		isText: {
			type: Boolean,
			default() {
				return false;
			},
		},

		size: {
			type: String,
			default() {
				return '';
			},
		},

		text: {
			type: String,
			default() {
				return '';
			},
		},

		isBlock: {
			type: Boolean,
			default() {
				return false;
			},
		},

		isLoading: {
			type: Boolean,
			default() {
				return false;
			},
		},

		isDisabled: {
			type: Boolean,
			default() {
				return false;
			},
		},

		isOutlined: {
			type: Boolean,
			default() {
				return false;
			},
		},

		isDepressed: {
			type: Boolean,
			default() {
				return true;
			},
		},

		minWidth: {
			type: String,
			default() {
				return '';
			},
		},
	},

	data() {
		return {
			is_x_small: false,
			is_small: false,
			is_large: false,
			is_x_large: false,
		};
	},

	watch: {
		size(value) {
			switch (value) {
			case 'x-small':
				this.is_x_small = true;
				this.is_small = false;
				this.is_large = false;
				this.is_x_large = false;
				break;
			case 'small':
				this.is_x_small = false;
				this.is_small = true;
				this.is_large = false;
				this.is_x_large = false;
				break;
			case 'large':
				this.is_x_small = false;
				this.is_small = false;
				this.is_large = true;
				this.is_x_large = false;
				break;
			case 'x-large':
				this.is_x_small = false;
				this.is_small = false;
				this.is_large = false;
				this.is_x_large = true;
				break;
			default:
				this.is_x_small = false;
				this.is_small = false;
				this.is_large = false;
				this.is_x_large = false;
				break;
			}
		},
	},
});
</script>

<style>

</style>
